<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/VSDB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <mapping resource="User.hbm.xml" />
        <mapping resource="Category.hbm.xml" />
        <mapping resource="PaymentofOrder.hbm.xml" />
        <mapping resource="OrderStatus.hbm.xml" />
        <mapping resource="Order.hbm.xml" />
        <mapping resource="Applicants.hbm.xml" />
        <mapping resource="News.hbm.xml" />
        <mapping resource="CategoryHasNews.hbm.xml" />
        <mapping resource="Payment.hbm.xml" />
        <mapping resource="CustomerContact.hbm.xml" />
    </session-factory>
</hibernate-configuration>
